; lwb Logic WorkBench -- Natural deduction
; Rules for the propositional logic

; Copyright (c) 2015 - 2016 Tobias Völzel, Burkhardt Renz, THM. All rights reserved.
; The use and distribution terms for this software are covered by the
; Eclipse Public License 1.0 (http://opensource.org/licenses/eclipse-1.0.php).
; By using this software in any fashion, you are agreeing to be bound by
; the terms of this license.

; AND
{:id :and-i
 :given      [phi psi]
 :conclusion [(and phi psi)]
 :forward   true
 :backward  true}
{:id :and-e1
 :given      [(and phi psi)]
 :conclusion [phi]
 :forward   true}
{:id :and-e2
 :given      [(and phi psi)]
 :conclusion [psi]
 :forward   true}

; OR
{:id :or-i1
 :given      [phi]
 :conclusion [(or phi psi)]
 :forward   true
 :backward  true}
{:id :or-i2
 :given      [phi]
 :conclusion [(or psi phi)]
 :forward   true
 :backward  true}
{:id :or-e
 :given      [(or phi psi)
              (infer phi chi)
              (infer psi chi)]
 :conclusion [chi]
 :forward  true
 :backward  true}

; IMPL
{:id :impl-i
 :given      [(infer phi psi)]
 :conclusion [(impl phi psi)]
 :backward   true}
{:id :impl-e
 :given      [(impl phi psi) phi]
 :conclusion [psi]
 :forward    true
 :backward   true}

; NOT
{:id :not-i
 :given      [(infer phi contradiction)]
 :conclusion [(not phi)]
 :backward   true}
{:id :not-e
 :given      [(not phi) phi]
 :conclusion [contradiction]
 :forward   true
 :backward  true}

; RAA/EFQ
{:id :raa
 :given      [(infer (not phi) contradiction)]
 :conclusion [phi]
 :backward  true}
{:id :efq
 :given      [contradiction]
 :conclusion [phi]
 :forward   true
 :backward  true}
