; lwb Logic WorkBench -- Natural deduction
; Rules for Hilbert calculus

; Copyright (c) 2016 Burkhardt Renz, THM. All rights reserved.
; The use and distribution terms for this software are covered by the
; Eclipse Public License 1.0 (http://opensource.org/licenses/eclipse-1.0.php).
; By using this software in any fashion, you are agreeing to be bound by
; the terms of this license.

; Axioms
{:id :axiom1
 :given      []
 :conclusion [(impl phi (impl psi phi))]}
{:id :axiom2
 :given      []
 :conclusion [(impl (impl phi (impl psi chi)) (impl (impl phi psi) (impl phi chi)))]}
{:id :axiom3
 :given      []
 :conclusion [(impl (impl (not phi) (not psi)) (impl psi phi))]}

; Rule
{:id :mp
 :given      [(impl phi psi) phi]
 :conclusion [psi]}
