; lwb Logic WorkBench -- Natural deduction

; Copyright (c) 2015 - 2016 Tobias Völzel, Burkhardt Renz, THM. All rights reserved.
; The use and distribution terms for this software are covered by the
; Eclipse Public License 1.0 (http://opensource.org/licenses/eclipse-1.0.php).
; By using this software in any fashion, you are agreeing to be bound by
; the terms of this license.

; FORALL 
{:id :forall-i
 :given      [(infer (actual t)
                     (substitution phi x t))]
 :conclusion [(forall [x] phi)]
 :backward  true}
{:id :forall-e
 :given      [(forall [x] phi)
              (actual t)]
 :conclusion [(substitution phi x t)]
 :forward   true}

; EXISTS
{:id :exists-i
 :given      [(actual t)
              (substitution phi x t)]
 :conclusion [(exists [x] phi)]
 :backward  true}
{:id :exists-e
 :given      [(exists [x] phi)
              (infer [(actual t)
                      (substitution phi x t)]
                     chi)]
 :conclusion [chi]
 :forward  true}

; EQUAL
{:id :equal-i
 :given      []
 :conclusion [(= t t)]
 :forward   true}
{:id :equal-e
 :prereq [(substitution? phi-subst phi var t1)]
 :given  [(= t1 t2) phi-subst phi var]
 :conclusion [(substitution phi var t2)]
 :forward true}
